
* {
    margin: 0;
    padding: 0;
    font-family: "Josefins Sans", sans-serif;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f0f8fd;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: none;
/ / grid grid-template-columns: repeat(2, 1 fr);
    grid-template-rows: 1fr min-content;
}

.left {
    background-color: #1aa1f5;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content div {
    color: white;
    display: flex;
    margin: 4rem;
    align-items: center;
}

.left-content i {
    font-size: 3rem;
    margin-right: 2rem;
}

.left-content-heading {
    font-size: 3rem;
}

.right {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    position: relative;
}

.right-content form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.right-content div {
    position: relative;
}


.right-content label {
    position: absolute;
    top: 4rem;
    left: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #a7a6a6;
}

.right-content form input {
    margin-right: 0.2rem;
    font-size: 1.6rem;
    padding: 0.5rem;
    transition: background-color 0.5s;
    border-radius: 2rem;
}

.right-content form input:hover {
    background-color: #d9ebf7;
}

.log-in-btn {
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #fff;
    color: #1aa1f5;
    border-radius: 3rem;
    width: 8rem;
    border: 0.1rem solid #1aa1f5;
    transition: background-color 0.5s;
}

.log-in-btn:hover {
    background-color: #d9ebf7;
}

.middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40%;
}

.middle-content i {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #1aa1f5;
    line-height: 4rem;
}

.middle-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.middle-content h3 {
    font-size: 2rem;
}

.middle-content button {
    font-size: 1.6rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.sign-up-button {
    background-color: #1aa1f5;
    color: #fff;
}

.sign-up-button:hover {
    background-color: #0f5d8d;
}

.log-in-button {
    background-color: #fff;
}

.log-in-button:hover {
    background-color: #0f5d8d;
}

.footer {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    justify-content: center;
    border-top: 0.2rem solid #ddd;
    background-color: #f5f4f4;
}

.footer ul {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 1rem;
    list-style: none;
}

.footer ul a {
    font-size: 1.6rem;
    padding-right: 3rem;
    text-decoration: none;
    font-weight: 300;
    color: #444;
}

/*Login page*/
.login-page {
    display: none;
    width: 100%;
    height: 100vh;
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-row-gap: 2rem;
}

.login-nav {
    grid-column: 1 / -1;
    grid-row: 1/2;
    background-color: #fff;
    padding: 2.5rem 0;
}

.log-in {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100rem;
    background-color: #fff;
}

.login-nav ul {
    display: flex;
    margin: auto;
    width: 100rem;
    font-size: 2rem;
    list-style: none;
    align-items: flex-end;
}

.login-nav li:last-child {
    margin-left: auto;
    text-decoration: none;
}

.login-nav li {
    margin: 0 1rem;
    position: relative;
}

.login-nav li::after {
    content: "";
    width: 100%;
    height: 0.5rem;
    position: absolute;
    background-color: #1aa1f5;
    left: 0;
    bottom: -1rem;
    opacity: 0;
}

.login-nav li:hover::after {
    opacity: 1;
}

.login-nav i {
    color: #1aa1f5;
    font-size: 2rem;
}

.login-nav a {
    text-decoration: none;
    color: #555;
    transition: color 0.5s;
}

.login-nav li:hover a {
    color: #1aa1f5;
}

/* login */
.log-in {
    display: grid;
    grid-template-columns: 10rem 8fr;
    grid-template-rows: 2fr 1fr;
    width: 100rem;
}

.login-content {
    grid-column: 2/-1;
    grid-row: 1/2;
}

.login-content h2 {
    font-size: 3rem;
    margin: 2rem 0;
}

.login-content form {
    display: flex;
    flex-direction: column;
}

.login-content form input:not(.checkbox) {
    width: 30rem;
    height: 3rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.login-form input:focus {
    background-color: #d9ebf7;
}

.log-in-button {
    font-size: 1.5rem;
    background-color: #1aa1f5;
    color: #d9ebf7;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 4rem;
    font-weight: bold;
    margin-right: 1rem;
}

.login-form label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 1rem;
}

.login-form a {
    font-size: 1.6rem;
    color: #1aa1f5;
    font-weight: bold;
}

.login-footer {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: #edf3f7;
    padding-left: 10rem;
}

.login-footer p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.login-footer a {
    text-decoration: none;
    color: #1aa1f5;
}

.feeds-page {
    width: 100%;
    height: 100vh;
    display: block;
}

.feeds-nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 6.5rem;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.icons {
    display: flex;
    font-size: 1.6rem;
    color: #aa9999;
    justify-content: center;
    align-items: center;
}

.icons a {
    font-size: 2.5rem;
    color: #9e9a9a;
    margin-right: 7rem;
    text-decoration: none;
}

.icons .active {
    color: #1aa1f5;
}

.search {
    display: flex;
    position: relative;
    align-items: center;
}

.search i {
    position: absolute;
    padding-left: 1rem;
    color: #9e9a9a;
    font-size: 1.6rem;
}

.search input {
    width: 40rem;
    height: 3rem;
    padding-left: 3.5rem;
    border: 0.1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    transition: all 0.5s;
}

.search input:hover {
    background-color: #fff;
    border-color: #1aa1f5;
}

.user {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.user-img-wrapper {
    width: 4rem;
    height: 4rem;
}

.user-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #444;
    margin: 0 1rem;
}

user i {
    color: #444;
    font-size: 1.6rem;
}


.feeds-content {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 6.5rem;
}

.feeds-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 0.1rem #eee;
    padding: 1.5rem;
}

.feeds-top h4 {
    font-size: 2rem;
    font-weight: bold;
}

.feeds-top i {
    font-size: 2rem;
    color: #1aa1f5;
}


.feeds-header {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    background-color: #fff;
    border: solid 0.1rem #d6e1e9;
}

.headers-post {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.post-img-wrapper {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    padding: 0 0.7rem;
}

.post-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.headers-post input {
    width: 40rem;
    height: 3.5rem;
    border: solid 0.1rem #9e9a9a;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding-left: 1rem;
}

.headers-post i {
    font-size: 2rem;
    color: #1aa1f5;
    margin: 0 0.7rem;
}

.posts {
    grid-column: 2/3;
    grid-row: 3/-1;
    background-color: #fff;
}

.post {
    display: flex;
    border: solid 0.1rem #d6e1e9;
}

.post-user-info {
    display: flex;
    margin: 1rem 0;
}

.user-avatar img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem 2rem
}

.post h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.post i {
    color: #1aa1f5;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.post span {
    font-size: 1.6rem;
    color: #555555;
}

.post p {
    font-size: 1.6rem;
}

.user-post-img {
    width: 48rem;
    height: 30rem;
}

.user-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem 0;
}

.post-icons {
    margin: 1rem 0;
    font-size: 2rem;
}

.post-icons i {
    font-size: 1.6rem;
    margin-right: 3rem;
    color: #9e9a9a;
}

.follows {
    position: fixed;
    top: 7rem;
    left: 57%;
    background-color: #fff;
    width: 35rem;
}

.follows h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem;
}

.follow-user {
    border: solid 0.1rem #eee;
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
}

.follow-user-img-wrapper {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.follow-user-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-infor {
    font-size: 1.2rem;
    font-weight: bold;
}

.follow-infor h2 {
    margin-bottom: 0.6rem;
}

.follow-user button {
    margin-left: auto;
    border-radius: 2rem;
    border: solid 0.1rem #1aa1f5;
    color: #1aa1f5;
    width: 9rem;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
}

.follow-link {
    margin: 2rem 1rem;
}

.follow-link a {
    background-color: #fff;
    font-size: 1.6rem;
    color: #1aa1f5;
    padding: 1rem;
    text-decoration: none;
}


.follows-footer {
    background-color: #f0f8fd;
}

.follows-footer ul {
    display: flex;
    list-style: none;
    padding: 2rem 0rem;

}

.follows-footer ul a {
    text-decoration: none;
    color: #868383;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.post-btn {
    position: fixed;
    bottom: 3rem;
    left: 68%;
    width: 10rem;
    height: 5rem;
    background-color: #1aa1f5;
    color: #f0f8fd;
    border-radius: 3rem;
    border: solid 0.1rem #f0f8fd;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.post-btn:hover {
    background-color: #117abb;
}

/*modal box*/
.modal-post-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-post-wrapper-appearance {
    opacity: 1;
    visibility: visible;
}

.modal-post {
    background-color: #fff;
    width: 60rem;
    height: 25rem;
    border-radius: 1.5rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal-header {
    display: flex;

}

.modal-header i {
    font-size: 2rem;
    padding: 3rem 2rem;
    color: #1aa1f5;
    font-weight: bold;
    cursor: pointer;
}

.modal-header button {
    margin-left: auto;
    width: 8rem;
    height: 3.5rem;
    background-color: #1aa1f5;
    color: white;
    border-radius: 2rem;
    margin-top: 2.5rem;
    margin-right: 3rem;
    opacity: 0.5;
}

.modal-body {
    display: flex;
}

.modal-post-img-wrapper {
}

.modal-post-img-wrapper img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    border-radius: 50%;
}

.modal-body input {
    width: 45rem;
    /*height: 8rem;*/
    border-radius: 3rem;
    background-color: #dddddd;
    padding: 1rem 0 8rem 1rem;
}

.modal-body i {
    position: absolute;
    right: 10rem;
    bottom: 8rem;
    font-size: 2rem;
    color: #1aa1f5;
}

.modal-footer {
    display: flex;
    font-size: 2rem;
    color: #1aa1f5;
    margin: 1rem 7rem;
}

.modal-footer i {
    margin-right: 2rem;
}

.modal-footer span {
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    border: 0.1rem solid #1aa1f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    opacity: 0.5;
}

/* Sidebar */
.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 30rem;
    box-sizing: border-box;
    box-shadow: 5rem 10rem 10rem rgba(0, 0, 0, 0.5);
    padding: 2.5rem;
}

.sidebar-header {
    font-size: 1.5rem;
    /*padding: 2rem;*/
    display: flex;
    border-bottom: 0.1rem solid #eee;
    padding-bottom: 1.5rem;
}

.sidebar-header i {
    font-size: 3rem;
    color: #1aa1f5;
    margin-left: auto;
    font-weight: bold;
}

.sidebar-img {
    display: flex;
    padding-top: 1.5rem;
}

.sidebar-img-wrapper {
    width: 4rem;
    height: 4rem;
}

.sidebar-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sidebar-img span {
    margin-left: auto;
    color: #1aa1f5;
    font-size: 3rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-name {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.sidebar-follow {
    display: flex;
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

.sidebar-follow p {
    margin-right: 1.5rem;
}

.sidebar-follow span {
    font-weight: bold;
}







