p {
    background-color: antiquewhite;
    color: blueviolet;
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: "Franklin Gothic Book", cursive;
    font-weight: bold;
}

.star {
    color: yellow;
}

#felix {
    color: red;
}

input[type="email"] {
    color: blueviolet;
}

#hi-duy {
    background-color: antiquewhite;
    color: blueviolet;
    display: inline;
    font-size: 30px;
    text-align: center;
}

div {
    text-align: center;
    border: red 2px solid;
}

#box {
    border: red 5px solid;
    margin: 100px 50px;
    padding-bottom: 70px;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
}

#click-me:hover {
 color: yellow;
}

.dropdown-content a {
    display: none;
}

.content:hover .dropdown-content a {
    display: block;
    color: red;
}

section {
    background-color: aquamarine;
}

section div p {
    background-color: yellow;
    width: 50%;
}


